/*Style for the buttons */
.btn-outline-success:hover {
    color: #fff;
    background-color: #2288c0;
    border-color: #2288c0;
}
.btn-outline-success {
    color: #2288c0;
    background-color: transparent;
    background-image: none;
    border-color: #2288c0;
}
.btn-success {
    color: #2288c0;
    background-color: transparent;
    border-color: #2288c0;
}
.btn-success:hover {
    color: #fff !important;
    background-color: #2288c0;
    border-color: #2288c0; 
}
/*Style for text that is a clickable link */
a:hover {
    color: #2288c0 !important;
}
.child-nav-link {
    color: #9a9da0 !important;
}
.child-list-group-item  {
    color: #343a40 !important;
}
/* temp css for visualizing active page*/
.active-page {
    color:#2288c0 !important;
}
/* change the color of the Body here */
body{
    background-color: #e6f2ff;
}